#This file has been generated automatically. DO NOT MODIFY!
openapi: 3.0.0
info:
  title: Horizon
  description: |
    Horizon is the client-facing REST API module that consumes data from the core of the system and makes it more convenient to use the
    client facing application. It allows submitting transactions to the network,
    reading history of operations, and checking the state of entities.

    > IMPORTANT: Note that endpoints not specified in this document or marked as `WIP` do not guaranty the backwards compability maintenance.

    ### Overview
    Horizon uses [JSON:API](https://jsonapi.org/) convention to format requests and responses.
    The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY",
    and "OPTIONAL" in this document are to be interpreted as described in [RFC 2119](https://www.ietf.org/rfc/rfc2119.txt>).
    ### Security
    TokenD uses the Ed25519 algorithm for authorizing any request or read private data. The use of such cryptographic proof allows building a system where transfer of secrets in an open form is not necessary, which significantly improves the security. Thus, an attacker who has access to one of the servers will not be able to compromise users' secrets.

    Request signature implementation is based on IETF HTTP Signatures draft RFC. Implicit headers parameter is not supported; clients must explicitly specify headers used for signing.

    The signature algorithm supported is ed25519-sha256, which uses public signer key as `keyId`.

    Both Signature and Authorization HTTP authentication schemas are supported.

    The minimum recommended data to sign is the (request-header) and date.

    For the following request:

    ```http
    GET /users?type=2 HTTP/1.1
    Host: api.tokend.io
    Date: Fri, 05 Jan 2018 21:31:40 GMT
    ```

    Signing string would be:

    ```text
    date: Fri, 05 Jan 2018 21:31:40 GMT
    (request-target): get /users?type=2
    ```

    > Note that header names and HTTP method are lowercased.

    The next step is to convert the signing string to a byte array using `UTF-8` encoding and to take its `SHA-256` hash.

    For the signing string above, hash would be:
    ```text
    6fcbee4b0a8932784644d33b360bd3eef389ed37dfd66f17e4bfa910ba9d616a
    ```

    Now, you have to sign hash with a private key and encode the result in `Base64`. For a seed such as `SCDMOOXVNMO6SA22AYUMZDIGLDJMBUTVEGB73FFNTLFJILBJWIU4NQ3D`, the encoded signature would be:

    ```text
    w/y3EsliTmQPC6MS88N/kjU/hFVxlIdhFhzfRGv4yIsSokgMpxVqxcC/CmUsAN4t3BKpskGG7+JEWryV8NXvCg==
    ```

    The result HTTP header included to the request then would be:


    ```text
    Authorization: keyId="GBLTOG6EJS5OWDNQNSCEAVDNMPBY6F73XZHHKR27YE5AKE23ZZEXOLBK",algorithm="ed25519-sha256",signature="w/y3EsliTmQPC6MS88N/kjU/hFVxlIdhFhzfRGv4yIsSokgMpxVqxcC/CmUsAN4t3BKpskGG7+JEWryV8NXvCg==",headers="date (request-target)"
    ```
  contact:
    email: dev@distributedlab.com
    url: https://tokend.io
    name: Support
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 3.0.1-x.4
  x-logo:
    url: "https://tokend.io/images/logo.svg"
    backgroundColor: "transparent"
    altText: "TokenD"
servers:
  - url: https://api.achilles.tokend.io
    description: TokenD Developer Environment
# NOTE
#
# Add tag to x-tagGroups or it won't be displayed
tags:
  - name: Accounts
    description: Defines access points for accounts and related entities
  - name: Assets
    description: Defines access points for assets
  - name: Fees
    description: Defines access points for fees
  - name: Signers
    description: Defines access points to get signers
  - name: Account Roles
    description: Defines access points to get account role
  - name: Asset Pairs
    description: |
      * A base asset refers to the underlying assets giving value to a company, investment or loan.
      Base asset is not fixed. It will appreciate or depreciate according to market forces.
      * A quote asset refers to the last amount at which 1 base asset was traded,
      meaning the most recent price to which a buyer and seller have agreed as well as the price
      at which some 1 base asset was transacted
  - name: Order Books
    description: |
      An order book is a list of buy and sell orders for a specified asset pair organized by price level.
      An order book lists the amount of asset being bid or offered at each price point.
      It does not identify market participants behind buy and sell orders.
  - name: AMLAlert
    description: Defines access points to AMLAlert Reviewable Requests
  - name: Issuance
    description: Defines access points to get Issuance Reviewable Requests
  - name: Withdrawal
    description: Defines access points to get Withdrawal Reviewable Requests
x-tagGroups:
  - name: Essentials
    tags:
      - Accounts
      - Assets
      - Fees
  - name: Asset Movements
    tags:
      - AMLAlert
      - Issuance
      - Withdrawal
  - name: Access Control
    tags:
      - Signers
      - Signer Roles
      - Signer Rules
  - name: KYC & AML
    tags:
      - Account Roles
      - Account Rules
      - Change Account Role Request
      - AMLAlert
      - Limits
  - name: Decentralized Exchange
    tags:
      - Asset Pairs
      - Offers
      - Order Books
      - Crowd Investing
  - name: Advanced
    tags:
      - PreIssuance
      - KeyValue
  - name: Other
    tags:
      - Requests
      - WIP
paths:
  /v3/accounts/{id}:
    get:
      tags:
        - Accounts
      summary: Account by ID
      description: |
        Allows to get `Account` with corresponding details.
      operationId: getAccountByID
      parameters:
        - name: id
          in: path
          description: Unique identifier of an account
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            🔒 The following relationships require an owner's or admin's signature to be included:
            * `balances.state`
            * `referrer`
            * `fees`
            * `role`
            * `role.rules`
            * `limits`
            * `external_system_ids`
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - fees
              - balances
              - balances.asset
              - balances.state
              - referrer
              - limits
              - external_system_ids
            example: balances,balances.asset
      responses:
        200:
          description: account exists
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/Account'
                  included:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/AccountKey'
                        - $ref: '#/components/schemas/BalanceStateKey'
                        - $ref: '#/components/schemas/FeeKey'
                        - $ref: '#/components/schemas/ExternalSystemIDKey'
                        - $ref: '#/components/schemas/LimitKey'

        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        401:
          description: either an invalid signature has been provided or a signer has not been authorized to access specified resources
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: such an account does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/account_roles/{id}:
    get:
      tags:
        - Account Roles
      summary: Account Role by ID
      description: |
        Allows to get `Account Role` with corresponding details.
      operationId: getAccountRoleByID
      parameters:
        - name: id
          in: path
          description: Unique identifier of the account role
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum: [rules]
      responses:
        200:
          description: account role exists
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/AccountRole'
                  included:
                    type: array
                    items:
                      type: object
                      oneOf:
                        - $ref: '#/components/schemas/AccountRule'
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: account role does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/account_roles:
    get:
      tags:
        - Account Roles
      summary: Account Role List
      description: |
        Allows to get a list of `Account Role` with corresponding details.
      operationId: getAccountRoles
      parameters:
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum: [rules]
        - $ref: '#/components/schemas/pageNumberParam'
        - $ref: '#/components/schemas/pageLimitParam'
        - $ref: '#/components/schemas/sortingParam'
      responses:
        200:
          description: succesfully retrieved page
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      $ref: '#/components/schemas/AccountRole'
                  included:
                    type: array
                    items:
                      type: object
                      oneOf:
                        - $ref: '#/components/schemas/AccountRule'
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/account_rules/{id}:
    get:
      tags:
        - Account Rules
      summary: Account Rule by ID
      description: |
        Allows to get `Account Rule` with corresponding details.
      operationId: getAccountRuleByID
      parameters:
        - name: id
          in: path
          description: Unique identifier of the account rule
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        200:
          description: account rule exists
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/AccountRule'
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: account rule does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/account_rules:
    get:
      tags:
        - Account Rules
      summary: Account Rule List
      description: |
        Allows to get list of `Account Rule` with corresponding details.
      operationId: getAccountRules
      parameters:
        - $ref: '#/components/schemas/pageNumberParam'
        - $ref: '#/components/schemas/pageLimitParam'
        - $ref: '#/components/schemas/sortingParam'
      responses:
        200:
          description: succesfully retrived page
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      $ref: '#/components/schemas/AccountRule'
                  links:
                    type: object
                    description: "Provides links for pagination"
                    properties:
                      next:
                        type: string
                        description: "link to the next page"
                        example: "/v3/account_rules?page[number]=2&page[limit]=15"
                      self:
                        type: string
                        description: "link to the current page"
                        example: "/v3/account_rules?page[number]=1&page[limit]=15"
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/assets/{id}:
    get:
      tags:
        - Assets
      summary: Asset by ID
      description: |
        Allows to get `Asset` with corresponding details.
      operationId: getAssetByID
      parameters:
        - name: id
          in: path
          description: Unique identifier of the asset (code)
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - owner
      responses:
        200:
          description: asset exists
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/Asset'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountKey'
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: asset does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/asset_pairs/{id}:
    get:
      tags:
        - Asset Pairs
      summary: AssetPair by ID
      description: |
        Allows to get `AssetPair` with corresponding details.
      operationId: getAssetPairByID
      parameters:
        - name: id
          in: path
          description: Unique identifier of an asset pair that consists of two asset codes
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: BASE:QUOTE
            example: "BTC:ETH"
        - name: include
          in: query
          description: |
            Relationships that may be used for the `include` parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            example: "base_asset"
            enum:
              - base_asset
              - quote_asset
      responses:
        200:
          description: asset pair exists
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/AssetPair'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: asset pair does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/assets_pairs:
    get:
      tags:
        - Asset Pairs
      summary: AssetPair List
      description: |
        Allows to get a filtered list of `AssetPair` with corresponding details.
      operationId: getAssetPairs
      parameters:
        - name: filter[policy]
          in: query
          description: |
            Filters asset pairs by a specified bit mask. Returns the page of asset pairs where at least one bit intersects
          required: false
          style: form
          explode: false
          schema:
            type: integer
            format: int32
            example: 2
        - name: filter[base_asset]
          in: query
          description: |
            Filters asset pairs by a specified base asset of the pair.
          required: false
          style: form
          explode: false
          schema:
            type: string
            example: "BTC"
            format: valid AssetCode
        - name: filter[quote_asset]
          in: query
          description: |
            Filters asset pairs by a specified quote asset of the pair.
          required: false
          style: form
          explode: false
          schema:
            type: string
            example: "ETH"
            format: valid AssetCode
        - name: filter[asset]
          in: query
          description: |
            Filters asset pairs by a specified asset of the pair (no matter whether it is base or quote)
          required: false
          style: form
          explode: false
          schema:
            type: string
            example: "ETH"
            format: valid AssetCode
        - name: include
          in: query
          description: |
            Relationships that may be used for the `include` parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            example: "base_asset,quote_asset"
            enum:
              - base_asset
              - quote_asset
        - $ref: '#/components/schemas/pageNumberParam'
        - $ref: '#/components/schemas/pageLimitParam'
        - $ref: '#/components/schemas/sortingParam'
      responses:
        200:
          description: asset pairs that satisfy specified filters
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AssetPair'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
                  links:
                    type: object
                    description: "Provides links for pagination"
                    properties:
                      next:
                        type: string
                        description: "link to the next page"
                        example: "/v3/assets_pairs?include=base_asset&page[number]=2&page[limit]=15"
                      self:
                        type: string
                        description: "link to the current page"
                        example: "/v3/assets_pairs?include=base_asset&page[number]=1&page[limit]=15"
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: asset pair does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/assets:
    get:
      tags:
        - Assets
      summary: Asset List
      description: |
        Allows to get a filtered list of `Asset` with corresponding details.
      operationId: getAssets
      parameters:
        - name: filter[policy]
          in: query
          description: |
            Filters assets by a specified bit mask. Returns the page of assets where at least one bit intersects
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[owner]
          in: query
          description: |
            Filters assets by a specified owner's account address.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - owner
        - $ref: '#/components/schemas/pageNumberParam'
        - $ref: '#/components/schemas/pageLimitParam'
        - $ref: '#/components/schemas/sortingParam'
      responses:
        200:
          description: asset exists
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      $ref: '#/components/schemas/Asset'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountKey'
                  links:
                    type: object
                    description: "Provides links for pagination"
                    properties:
                      next:
                        type: string
                        description: "link to the next page"
                        example: "/v3/assets?include=owner&page[number]=2&page[limit]=15"
                      self:
                        type: string
                        description: "link to the current page"
                        example: "/v3/assets?include=owner&page[number]=1&page[limit]=15"
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: asset does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/accounts/{id}/calculated_fees:
    get:
      tags:
        - Fees
        - Accounts
      summary: Calculate fee
      description: |
        Allows to calculate a fee for an account.
      operationId: getCalculatedFee
      parameters:
        - name: asset
          in: path
          description: Unique identifier of an asset
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: fee_type
          in: path
          description: Type of a fee
          required: true
          style: simple
          explode: false
          schema:
            type: integer
        - name: subtype
          in: path
          description: Subtype of a fee
          required: true
          style: simple
          explode: false
          schema:
            type: integer
        - name: amount
          in: path
          description: Amount to calculate on which a fee is based on
          required: true
          style: simple
          explode: false
          format: Amount
          schema:
            type: string
      responses:
        200:
          description: fee does exist and is calculated successfuly
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/CalculatedFee'
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        500:
          description: internal error occured during the request processing
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/change_role_requests/{id}:
    get:
      tags:
        - Change Account Role Request
      summary: Change Account Role Request by ID
      description: |
        Allows to get `ChangeRole` by ID

        🔒 Requestor's or reviewer's signature is needed
      operationId: getChangeRoleRequest
      parameters:
        - name: filter[requestor]
          in: query
          description: |
            Requests are filtered by the requestor - source of the operation.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[reviewer]
          in: query
          description: |
            Requests are filtered by the reviewer - account assigned to review requests.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[state]
          in: query
          description: |
            Requests are filtered  by their state.
            * 1 - pending
            * 2 - canceled
            * 3 - approved
            * 4 - rejected
            * 5 - permanently_rejected
          required: false
          style: form
          explode: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: filter[pending_tasks]
          in: query
          description: |
            Requests are filtered by existing tasks in pending tasks bit mask. Returns requests if all bits are set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_not_set]
          in: query
          description: |
            Requests are filtered by existing tasks in pending tasks bit mask. Returns requests if none of bits is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_any_of]
          in: query
          description: |
            Requests are filtered by existing tasks in pending tasks bit mask. Returns requests if at least one bit is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[request_details.destination_account]
          in: query
          description: |
            Filters change role requests by account to change its role.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[request_details.account_role_to_set]
          in: query
          description: |
            Filters change role requests by account_role_to_set.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - "request_details"
              - "request_details.destination_account"
      responses:
        200:
          description: requests exist
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/ReviewableRequest'
                  included:
                    type: array
                    items:
                      type: object
                      anyOf:
                        - $ref: '#/components/schemas/ChangeRoleDetails'
                        - $ref: '#/components/schemas/Account'
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        401:
          description: either an invalid signature has been provided or a signer has not been authorized to access specified resources
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: request does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/change_role_requests:
    get:
      tags:
        - Change Account Role Request
      summary: Change Account Role Request List
      description: |
        Allows to get a filtered list of `ChangeRoleRequest` with details

        🔒 Requestor's or reviewer's signature is needed
      operationId: getChangeRoleRequests
      parameters:
        - name: filter[requestor]
          in: query
          description: |
            Requests are filtered by requestor - source of the operation.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[reviewer]
          in: query
          description: |
            Requests are filtered by reviewer - account assigned to review requests.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[state]
          in: query
          description: |
            Requests are filtered by their state.
            * 1 - pending
            * 2 - canceled
            * 3 - approved
            * 4 - rejected
            * 5 - permanently_rejected
          required: false
          style: form
          explode: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: filter[pending_tasks]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if all bits are set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_not_set]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if none of bits is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_any_of]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if at least one bit is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[request_details.account_to_change_role]
          in: query
          description: |
            Filters change_role requests by account to update kyc.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[request_details.account_role_to_set]
          in: query
          description: |
            Filters change_role requests by account_role_to_set.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - "request_details"
              - "request_details.destination_account"
        - $ref: '#/components/schemas/pageNumberParam'
        - $ref: '#/components/schemas/pageLimitParam'
        - $ref: '#/components/schemas/sortingParam'
      responses:
        200:
          description: requests exist
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      $ref: '#/components/schemas/ReviewableRequest'
                  included:
                    type: array
                    items:
                      type: object
                      anyOf:
                        - $ref: '#/components/schemas/ChangeRoleDetails'
                        - $ref: '#/components/schemas/Account'
                  links:
                    type: object
                    description: "Provides links for pagination"
                    properties:
                      next:
                        type: string
                        description: "link to the next page"
                        example: "/v3/change_role_requests?include=details&page[number]=2&page[limit]=15"
                      self:
                        type: string
                        description: "link to the current page"
                        example: "/v3/change_role_requests?include=details&page[number]=1&page[limit]=15"
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        401:
          description: either an invalid signature has been provided or a signer has not been authorized to access specified resources
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: requests do not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/create_aml_alert_requests/{id}:
    get:
      tags:
        - AMLAlert
      summary: AMLAlert by ID
      description: |
        Allows to get `CreateAmlAlert` by ID

        🔒 Requestor's or reviewer's signature is needed
      operationId: getCreateAmlAlertRequest
      parameters:
        - name: filter[requestor]
          in: query
          description: |
            Requests are filtered by requestor - source of the operation.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[reviewer]
          in: query
          description: |
            Requests are filtered by reviewer - account assigned to review requests.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[state]
          in: query
          description: |
            Requests are filtered by their state.
            * 1 - pending
            * 2 - canceled
            * 3 - approved
            * 4 - rejected
            * 5 - permanently_rejected
          required: false
          style: form
          explode: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: filter[pending_tasks]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if all bits are set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_not_set]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if none of bits is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_any_of]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if at least one bit is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[request_details.balance]
          in: query
          description: |
            Filters create aml alert requests by balance.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - "request_details"
              - "request_details.balance"
      responses:
        200:
          description: requests exist
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/ReviewableRequest'
                  included:
                    type: array
                    items:
                      type: object
                      anyOf:
                        - $ref: '#/components/schemas/CreateAmlAlertDetails'
                        - $ref: '#/components/schemas/Balance'
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        401:
          description: either an invalid signature has been provided or a signer has not been authorized to access specified resources
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: request does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/create_aml_alert_requests:
    get:
      tags:
        - AMLAlert
      summary: AMLAlert List
      description: |
        Allows to get a filtered list of `CreateAmlAlertRequest` with details

        🔒 Requestor's or reviewer's signature is needed
      operationId: getCreateAmlAlertRequests
      parameters:
        - name: filter[requestor]
          in: query
          description: |
            Requests are filtered by requestor - source of the operation.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[reviewer]
          in: query
          description: |
            Requests are filtered by reviewer - account assigned to review requests.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[state]
          in: query
          description: |
            Requests are filtered by their state.
            * 1 - pending
            * 2 - canceled
            * 3 - approved
            * 4 - rejected
            * 5 - permanently_rejected
          required: false
          style: form
          explode: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: filter[pending_tasks]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if all bits are set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_not_set]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if none of bits is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_any_of]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if at least one bit is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[request_details.balance]
          in: query
          description: |
            Filters create aml alert requests by balance.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - "request_details"
              - "request_details.balance"
        - $ref: '#/components/schemas/pageNumberParam'
        - $ref: '#/components/schemas/pageLimitParam'
        - $ref: '#/components/schemas/sortingParam'
      responses:
        200:
          description: requests exist
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      $ref: '#/components/schemas/ReviewableRequest'
                  included:
                    type: array
                    items:
                      type: object
                      anyOf:
                        - $ref: '#/components/schemas/CreateAmlAlertDetails'
                        - $ref: '#/components/schemas/Balance'
                  links:
                    type: object
                    description: "Provides links for pagination"
                    properties:
                      next:
                        type: string
                        description: "link to the next page"
                        example: "/v3/create_aml_alert_requests?include=details&page[number]=2&page[limit]=15"
                      self:
                        type: string
                        description: "link to the current page"
                        example: "/v3/create_aml_alert_requests?include=details&page[number]=1&page[limit]=15"
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        401:
          description: either an invalid signature has been provided or a signer has not been authorized to access specified resources
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: requests do not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/create_asset_requests/{id}:
    get:
      tags:
        - Assets
      summary: Asset Creation Request by ID
      description: |
        Allows to get `CreateAssetRequest` by ID

        🔒 Requestor's or reviewer's signature is needed
      operationId: getCreateAssetRequest
      parameters:
        - name: filter[requestor]
          in: query
          description: |
            Requests are filtered by requestor - source of the operation.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[reviewer]
          in: query
          description: |
            Requests are filtered by reviewer - account assigned to review requests.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[state]
          in: query
          description: |
            Requests are filtered by their state.
            * 1 - pending
            * 2 - canceled
            * 3 - approved
            * 4 - rejected
            * 5 - permanently_rejected
          required: false
          style: form
          explode: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: filter[pending_tasks]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if all bits are set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_not_set]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if none of bits is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_any_of]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if at least one bit is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[request_details.asset]
          in: query
          description: |
            Filters asset create requests by asset code.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - "request_details"
              - "request_details.asset"
      responses:
        200:
          description: requests exist
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/ReviewableRequest'
                  included:
                    type: array
                    items:
                      type: object
                      anyOf:
                        - $ref: '#/components/schemas/CreateAssetDetails'
                        - $ref: '#/components/schemas/Asset'
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        401:
          description: either an invalid signature has been provided or a signer has not been authorized to access specified resources
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: request does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/create_asset_requests:
    get:
      tags:
        - Requests
      summary: Asset Creation Request List
      description: |
        Allows to get a filtered list of `CreateAssetRequest` with details

        🔒 Requestor's or reviewer's signature is needed
      operationId: getCreateAssetRequests
      parameters:
        - name: filter[requestor]
          in: query
          description: |
            Requests are filtered by requestor - source of the operation.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[reviewer]
          in: query
          description: |
            Requests are filtered by reviewer - account assigned to review requests.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[state]
          in: query
          description: |
            Requests are filtered by their state.
            * 1 - pending
            * 2 - canceled
            * 3 - approved
            * 4 - rejected
            * 5 - permanently_rejected
          required: false
          style: form
          explode: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: filter[pending_tasks]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if all bits are set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_not_set]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if none of bits is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_any_of]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if at least one bit is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[request_details.asset]
          in: query
          description: |
            Filters asset create requests by asset code.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - "request_details"
              - "request_details.asset"
        - $ref: '#/components/schemas/pageNumberParam'
        - $ref: '#/components/schemas/pageLimitParam'
        - $ref: '#/components/schemas/sortingParam'
      responses:
        200:
          description: requests exist
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      $ref: '#/components/schemas/ReviewableRequest'
                  included:
                    type: array
                    items:
                      type: object
                      anyOf:
                        - $ref: '#/components/schemas/CreateAssetDetails'
                        - $ref: '#/components/schemas/Asset'
                  links:
                    type: object
                    description: "Provides links for pagination"
                    properties:
                      next:
                        type: string
                        description: "link to the next page"
                        example: "/v3/create_asset_requests?include=details&page[number]=2&page[limit]=15"
                      self:
                        type: string
                        description: "link to the current page"
                        example: "/v3/create_asset_requests?include=details&page[number]=1&page[limit]=15"
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        401:
          description: either an invalid signature has been provided or a signer has not been authorized to access specified resources
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: requests do not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/create_atomic_swap_bid_requests/{id}:
    get:
      tags:
        - WIP
      summary: Create Atomic Swap Bid Request by ID
      description: |
        Allows to get `CreateAtomicSwapBid` by ID

        🔒 Requestor's or reviewer's signature is needed
      operationId: getCreateAtomicSwapBidRequest
      parameters:
        - name: filter[requestor]
          in: query
          description: |
            Requests are filtered by requestor - source of the operation.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[reviewer]
          in: query
          description: |
            Requests are filtered by reviewer - account assigned to review requests.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[state]
          in: query
          description: |
            Requests are filtered by their state.
            * 1 - pending
            * 2 - canceled
            * 3 - approved
            * 4 - rejected
            * 5 - permanently_rejected
          required: false
          style: form
          explode: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: filter[pending_tasks]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if all bits are set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_not_set]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if none of bits is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_any_of]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if at least one bit is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[request_details.base_balance]
          in: query
          description: |
            Create atomic swap bid requests are filtered by base balance.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - "request_details"
              - "request_details.base_balance"
              - "request_details.quote_assets"
      responses:
        200:
          description: requests exist
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/ReviewableRequest'
                  included:
                    type: array
                    items:
                      type: object
                      anyOf:
                        - $ref: '#/components/schemas/CreateAtomicSwapBidDetails'
                        - $ref: '#/components/schemas/Balance'
                        - $ref: '#/components/schemas/Asset'
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        401:
          description: either an invalid signature has been provided or a signer has not been authorized to access specified resources
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: request does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/create_atomic_swap_bid_requests:
    get:
      tags:
        - WIP
      summary: Create Atomic Swap Bid Request List
      description: |
        Allows to get a filtered list of `CreateAtomicSwapBidRequest` with details

        🔒 Requestor's or reviewer's signature is needed
      operationId: getCreateAtomicSwapBidRequests
      parameters:
        - name: filter[requestor]
          in: query
          description: |
            Requests are filtered by requestor - source of the operation.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[reviewer]
          in: query
          description: |
            Requests are filtered by reviewer - account assigned to review requests.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[state]
          in: query
          description: |
            Requests are filtered by their state.
            * 1 - pending
            * 2 - canceled
            * 3 - approved
            * 4 - rejected
            * 5 - permanently_rejected
          required: false
          style: form
          explode: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: filter[pending_tasks]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if all bits are set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_not_set]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if none of bits is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_any_of]
          in: query
          description: |
            Filters requests by pending tasks bit mask. Returns requests if at least one bit is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[request_details.base_balance]
          in: query
          description: |
            Filters create_atomic_swap_bid requests by balance.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - "request_details"
              - "request_details.base_balance"
              - "request_details.quote_assets"
        - $ref: '#/components/schemas/pageNumberParam'
        - $ref: '#/components/schemas/pageLimitParam'
        - $ref: '#/components/schemas/sortingParam'
      responses:
        200:
          description: requests exist
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      $ref: '#/components/schemas/ReviewableRequest'
                  included:
                    type: array
                    items:
                      type: object
                      anyOf:
                        - $ref: '#/components/schemas/CreateAtomicSwapBidDetails'
                        - $ref: '#/components/schemas/Balance'
                        - $ref: '#/components/schemas/Asset'
                  links:
                    type: object
                    description: "Provides links for pagination"
                    properties:
                      next:
                        type: string
                        description: "link to the next page"
                        example: "/v3/create_atomic_swap_bid_requests?include=details&page[number]=2&page[limit]=15"
                      self:
                        type: string
                        description: "link to the current page"
                        example: "/v3/create_atomic_swap_bid_requests?include=details&page[number]=1&page[limit]=15"
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        401:
          description: either an invalid signature has been provided or a signer has not been authorized to access specified resources
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: requests do not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/create_atomic_swap_requests/{id}:
    get:
      tags:
        - WIP
      summary: Create Atomic Swap Request by ID
      description: |
        Allows to get `CreateAtomicSwap` by ID

        🔒 Requestor's or reviewer's signature is needed
      operationId: getCreateAtomicSwapRequest
      parameters:
        - name: filter[requestor]
          in: query
          description: |
            Requests are filtered by requestor - source of the operation.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[reviewer]
          in: query
          description: |
            Requests are filtered by reviewer - account assigned to review requests.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[state]
          in: query
          description: |
            Requests are filtered by their state.
            * 1 - pending
            * 2 - canceled
            * 3 - approved
            * 4 - rejected
            * 5 - permanently_rejected
          required: false
          style: form
          explode: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: filter[pending_tasks]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if all bits are set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_not_set]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if none of bits is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_any_of]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if at least one bit is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[request_details.quote_asset]
          in: query
          description: |
            Filters create atomic swap requests by quote asset.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - "request_details"
              - "request_details.quote_asset"
      responses:
        200:
          description: requests exist
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/ReviewableRequest'
                  included:
                    type: array
                    items:
                      type: object
                      anyOf:
                        - $ref: '#/components/schemas/CreateAtomicSwapDetails'
                        - $ref: '#/components/schemas/Asset'
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        401:
          description: either an invalid signature has been provided or a signer has not been authorized to access specified resources
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: request does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/create_atomic_swap_requests:
    get:
      tags:
        - WIP
      summary: Create Atomic Swap Request List
      description: |
        Allows to get a filtered list of `CreateAtomicSwapRequest` with details

        🔒 Requestor's or reviewer's signature is needed
      operationId: getCreateSwapRequests
      parameters:
        - name: filter[requestor]
          in: query
          description: |
            Requests are filtered by requestor - source of the operation.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[reviewer]
          in: query
          description: |
            Requests are filtered by reviewer - account assigned to review requests.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[state]
          in: query
          description: |
            Requests are filtered by their state.
            * 1 - pending
            * 2 - canceled
            * 3 - approved
            * 4 - rejected
            * 5 - permanently_rejected
          required: false
          style: form
          explode: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: filter[pending_tasks]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if all bits are set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_not_set]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if none of bits is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_any_of]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if at least one bit is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[request_details.quote_asset]
          in: query
          description: |
            Filters atomic swap requests by quote asset.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - "request_details"
              - "request_details.quote_asset"
        - $ref: '#/components/schemas/pageNumberParam'
        - $ref: '#/components/schemas/pageLimitParam'
        - $ref: '#/components/schemas/sortingParam'
      responses:
        200:
          description: requests exist
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      $ref: '#/components/schemas/ReviewableRequest'
                  included:
                    type: array
                    items:
                      type: object
                      anyOf:
                        - $ref: '#/components/schemas/CreateAtomicSwapDetails'
                        - $ref: '#/components/schemas/Asset'
                  links:
                    type: object
                    description: "Provides links for pagination"
                    properties:
                      next:
                        type: string
                        description: "link to the next page"
                        example: "/v3/create_atomic_swap_requests?include=details&page[number]=2&page[limit]=15"
                      self:
                        type: string
                        description: "link to the current page"
                        example: "/v3/create_atomic_swap_requests?include=details&page[number]=1&page[limit]=15"
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        401:
          description: either an invalid signature has been provided or a signer has not been authorized to access specified resources
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: requests do not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/create_issuance_requests/{id}:
    get:
      tags:
        - Issuance
      summary: Issuance Request by ID
      description: |
        Allows to get `CreateIssuance` by ID

        🔒 Requestor's or reviewer's signature is needed
      operationId: getCreateIssuanceRequest
      parameters:
        - name: filter[requestor]
          in: query
          description: |
            Requests are filtered by requestor - source of the operation.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[reviewer]
          in: query
          description: |
            Requests are filtered by reviewer - account assigned to review requests.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[state]
          in: query
          description: |
            Requests are filtered by their state.
            * 1 - pending
            * 2 - canceled
            * 3 - approved
            * 4 - rejected
            * 5 - permanently_rejected
          required: false
          style: form
          explode: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: filter[pending_tasks]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if all bits are set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_not_set]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if none of bits is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_any_of]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if at least one bit is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[request_details.asset]
          in: query
          description: |
            Filters preissuance create requests by asset code.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - "request_details"
              - "request_details.asset"
      responses:
        200:
          description: requests exist
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/ReviewableRequest'
                  included:
                    type: array
                    items:
                      type: object
                      anyOf:
                        - $ref: '#/components/schemas/CreateIssuanceDetails'
                        - $ref: '#/components/schemas/Asset'
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        401:
          description: either an invalid signature has been provided or a signer has not been authorized to access specified resources
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: request does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/create_issuance_requests:
    get:
      tags:
        - Issuance
      summary: Issuance Request List
      description: |
        Allows to get a filtered list of `CreateIssuanceRequest` with details

        🔒 Requestor's or reviewer's signature is needed
      operationId: getCreateIssuanceRequests
      parameters:
        - name: filter[requestor]
          in: query
          description: |
            Requests are filtered by requestor - source of the operation.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[reviewer]
          in: query
          description: |
            Requests are filtered by reviewer - account assigned to review requests.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[state]
          in: query
          description: |
            Requests are filtered by their state.
            * 1 - pending
            * 2 - canceled
            * 3 - approved
            * 4 - rejected
            * 5 - permanently_rejected
          required: false
          style: form
          explode: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: filter[pending_tasks]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if all bits are set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_not_set]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if none of bits is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_any_of]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if at least one bit is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[request_details.asset]
          in: query
          description: |
            Filters issuance create requests by asset code.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - "request_details"
              - "request_details.asset"
        - $ref: '#/components/schemas/pageNumberParam'
        - $ref: '#/components/schemas/pageLimitParam'
        - $ref: '#/components/schemas/sortingParam'
      responses:
        200:
          description: requests exist
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      $ref: '#/components/schemas/ReviewableRequest'
                  included:
                    type: array
                    items:
                      type: object
                      anyOf:
                        - $ref: '#/components/schemas/CreateIssuanceDetails'
                        - $ref: '#/components/schemas/Asset'
                  links:
                    type: object
                    description: "Provides links for pagination"
                    properties:
                      next:
                        type: string
                        description: "link to the next page"
                        example: "/v3/issuance_create_requests?include=details&page[number]=2&page[limit]=15"
                      self:
                        type: string
                        description: "link to the current page"
                        example: "/v3/issuance_create_requests?include=details&page[number]=1&page[limit]=15"
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        401:
          description: either an invalid signature has been provided or a signer has not been authorized to access specified resources
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: requests do not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/create_pre_issuance_requests/{id}:
    get:
      tags:
        - PreIssuance
      summary: PreIssuance Request by ID
      description: |
        Allows to get `CreatePreIssuance` by ID

        🔒 Requestor's or reviewer's signature is needed
      operationId: getCreatePreIssuanceRequest
      parameters:
        - name: filter[requestor]
          in: query
          description: |
            Requests are filtered by requestor - source of the operation.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[reviewer]
          in: query
          description: |
            Requests are filtered by reviewer - account assigned to review requests.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[state]
          in: query
          description: |
            Requests are filtered by their state.
            * 1 - pending
            * 2 - canceled
            * 3 - approved
            * 4 - rejected
            * 5 - permanently_rejected
          required: false
          style: form
          explode: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: filter[pending_tasks]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if all bits are set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_not_set]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if none of bits is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_any_of]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if at least one bit is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[request_details.asset]
          in: query
          description: |
            Filters preissuance create requests by asset code.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - "request_details"
              - "request_details.asset"
      responses:
        200:
          description: requests exist
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/ReviewableRequest'
                  included:
                    type: array
                    items:
                      type: object
                      anyOf:
                        - $ref: '#/components/schemas/CreatePreIssuanceDetails'
                        - $ref: '#/components/schemas/Asset'
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        401:
          description: either an invalid signature has been provided or a signer has not been authorized to access specified resources
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: request does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/create_pre_issuance_requests:
    get:
      tags:
        - PreIssuance
      summary: PreIssuance Request List
      description: |
        Allows to get a filtered list of `AssetCreateRequest` with details

        🔒 Requestor's or reviewer's signature is needed
      operationId: getRequests
      parameters:
        - name: filter[requestor]
          in: query
          description: |
            Requests are filtered by requestor - source of the operation.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[reviewer]
          in: query
          description: |
            Requests are filtered by reviewer - account assigned to review requests.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[state]
          in: query
          description: |
            Requests are filtered by their state.
            * 1 - pending
            * 2 - canceled
            * 3 - approved
            * 4 - rejected
            * 5 - permanently_rejected
          required: false
          style: form
          explode: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: filter[pending_tasks]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if all bits are set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_not_set]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if none of bits is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_any_of]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if at least one bit is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[request_details.asset]
          in: query
          description: |
            Filters preissuance create requests by asset code.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - "request_details"
              - "request_details.asset"
        - $ref: '#/components/schemas/pageNumberParam'
        - $ref: '#/components/schemas/pageLimitParam'
        - $ref: '#/components/schemas/sortingParam'
      responses:
        200:
          description: requests exist
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      $ref: '#/components/schemas/ReviewableRequest'
                  included:
                    type: array
                    items:
                      type: object
                      anyOf:
                        - $ref: '#/components/schemas/CreatePreIssuanceDetails'
                        - $ref: '#/components/schemas/Asset'
                  links:
                    type: object
                    description: "Provides links for pagination"
                    properties:
                      next:
                        type: string
                        description: "link to the next page"
                        example: "/v3/create_pre_issuance_requests?include=details&page[number]=2&page[limit]=15"
                      self:
                        type: string
                        description: "link to the current page"
                        example: "/v3/create_pre_issuance_requests?include=details&page[number]=1&page[limit]=15"
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        401:
          description: either an invalid signature has been provided or a signer has not been authorized to access specified resources
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: requests do not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/create_sale_requests/{id}:
    get:
      tags:
        - Crowd Investing
      summary: Create Sale Request by ID
      description: |
        Allows to get `CreateSale` by ID

        🔒 Requestor's or reviewer's signature is needed
      operationId: getCreateSaleRequest
      parameters:
        - name: filter[requestor]
          in: query
          description: |
            Requests are filtered by requestor - source of the operation.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[reviewer]
          in: query
          description: |
            Requests are filtered by reviewer - account assigned to review requests.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[state]
          in: query
          description: |
            Requests are filtered by their state.
            * 1 - pending
            * 2 - canceled
            * 3 - approved
            * 4 - rejected
            * 5 - permanently_rejected
          required: false
          style: form
          explode: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: filter[pending_tasks]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if all bits are set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_not_set]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if none of bits is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_any_of]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if at least one bit is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[request_details.base_asset]
          in: query
          description: |
            Filters create sale requests by base asset.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[request_details.default_quote_asset]
          in: query
          description: |
            Filters create_sale requests by default quote asset.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - "request_details"
              - "request_details.base_asset"
              - "request_details.default_quote_asset"
              - "request_details.quote_assets"
      responses:
        200:
          description: requests exist
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                  - data
                  - included
                properties:
                  data:
                    type: object
                    $ref: '#/components/schemas/ReviewableRequest'
                  included:
                    type: array
                    items:
                      type: object
                      anyOf:
                        - $ref: '#/components/schemas/CreateSaleDetails'
                        - $ref: '#/components/schemas/Asset'
        400:
          description: bad input parameter
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        401:
          description: either an invalid signature has been provided or a signer has not been authorized to access specified resources
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
        404:
          description: request does not exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v3/create_sale_requests:
    get:
      tags:
        - Crowd Investing
      summary: Create Sale Request List
      description: |
        Allows to get a filtered list of `CreateSaleRequest` with details

        🔒 Requestor's or reviewer's signature is needed
      operationId: getCreateSaleRequests
      parameters:
        - name: filter[requestor]
          in: query
          description: |
            Requests are filtered by requestor - source of the operation.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[reviewer]
          in: query
          description: |
            Requests are filtered by reviewer - account assigned to review requests.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[state]
          in: query
          description: |
            Requests are filtered by their state.
            * 1 - pending
            * 2 - canceled
            * 3 - approved
            * 4 - rejected
            * 5 - permanently_rejected
          required: false
          style: form
          explode: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: filter[pending_tasks]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if all bits are set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_not_set]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if none of bits is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[pending_tasks_any_of]
          in: query
          description: |
            Requests are filtered by pending tasks bit mask. Returns requests if at least one bit is set.
          required: false
          style: form
          explode: false
          schema:
            type: integer
        - name: filter[request_details.base_asset]
          in: query
          description: |
            Filters sale requests by base asset.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: filter[request_details.default_quote_asset]
          in: query
          description: |
            Filters sale requests by default quote asset.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: include
          in: query
          description: |
            Relationships that may be used for the included parameter.
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - "request_details"
              - "request_details.base_asset"
              - "request_details.default_quote_asset"
              - "request_details.quote_assets"
        - $ref: '#/components/schemas/pageNumberParam'
        - $ref: '#/components/schemas/pageLimitParam'
        - $ref: '#/components/schemas/sortingParam'
      responses:
[...]
